---
import Button from "../components/Button.astro"
---
<section class="relative w-full min-h-screen flex flex-col justify-center items-center">
    <!-- Flex container for the cloud images and the heading -->
    <div class="flex justify-center items-center relative w-full">
        <!-- Cloud image on the left -->
        <img id="layer" src="/png/cloud-toon.png" alt="cloud" data-speed="1" class="mr-4" />
        
        <!-- Main Heading -->
        <h1 id="layer" class="font-abel text-black text-center relative text-[20px] md:text-[50px]" data-speed="3">
            12 million tonnes of plastic finds its way into the ocean every single year
        </h1>
        
        <!-- Cloud image on the right -->
        <img id="layer" src="/png/cloud-toon.png" alt="cloud" data-speed="1" class="ml-4" />
    </div>

    <!-- Subheading text -->
    <div id="layer"  class="flex justify-center items-center m-5 mt-10" data-speed="1">
        <h2 class="font-abel text-black text-center">You can change that</h2>
    </div>

    <!-- Button -->
    <div id="layer"  class="flex justify-center items-center mt-4" data-speed="1">
        <Button title="DIVE IN" href="#donate"></Button>
    </div>
    <img class="object-fit w-full pt-16" src="png/waves.svg" alt="waves">
</section>

<script>
    document.addEventListener("mousemove", parallax);

    function parallax(e) {
        document.querySelectorAll("#layer").forEach(layer => {
            const speed = Number(layer.getAttribute("data-speed")); // Convert to number

            if (!isNaN(speed)) { // Ensure speed is a valid number
                const x = (window.innerWidth / 2 - e.clientX * speed) / 100;
                const y = (window.innerHeight / 2 - e.clientY * speed) / 100;

                (layer as HTMLElement).style.transform = `translateX(${x}px) translateY(${y}px)`;
            }
        });
    }
</script>


