---
import Horizontal from "../components/Horizontal.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "./Hero.astro";
import Button from "../components/Button.astro"
import Newsletter from "../components/Newsletter.astro";
---

<MainLayout title="Titel">
 <Hero>
 </Hero>
<div id="donate" class="relative">
    <img class="absolute top-50 right-10" src="png/bubble1.svg" alt="bubble1">
    <img class="absolute top-70 left-10" src="png/bubble2.svg" alt="bubble2">
</div>
 <div class="grid grid-cols-2 gap-16 px-60 pt-16">
    <div class="">
        <h2 class="font-abel text-black text-[64px] pb-8">PLASTIC CHANGE</h2>
        <p class="font-abel text-black text-[16px]">Plastic pollution has become one of the most pressing environmental issues, as rapidly increasing production of disposable plastic products  overwhelms the world’s ability to deal with them. Plastic pollution is  most visible in developing Asian and African nations, where garbage  collection systems are often inefficient or nonexistent. But the  developed world, especially in countries with low recycling rates, also has trouble properly collecting discarded plastics. Plastic trash has become so ubiquitous it has prompted efforts to write a global treaty negotiated by the United Nations.</p>
    </div>
    <div><img class="w-full" src="png/tort.svg" alt="whale"></div>
   <div class="pt-4"><Button title="Donate Here" ></Button></div>
</div>

<div class="relative px-80 py-16">
    <div class="grid grid-cols-2 gap-16">
        <img class="w-full pt-8" src="png/magnify.svg" alt="">
        <div>
            <h2 class="font-abel text-black text-[64px] pb-8">Micro-plastics</h2>
            <p class="font-abel text-black text-[16px]">Once at sea, sunlight, wind, and wave action break down plastic waste into small particles, often less than one-fifth of an inch across. These so-called microplastics are spread throughout the water column and have been found in every corner of the globe, from Mount Everest, the highest peak, to the Mariana Trench, the deepest trough. Microplastics are breaking down further into smaller and smaller pieces. Plastic microfibers, meanwhile, have been found in municipal drinking water systems and drifting through the air.</p>
            <p class="font-abel text-black text-[16px] pt-4">It's no surprise then that scientists have found microplastics in people. The tiny particles are in our blood, lungs, and even in feces. Exactly how much microplastics might be harming human health is a question scientists are urgently trying to answer.</p>
        </div>
    </div>
    <img class="absolute top-100 left-45 w-25" src="png/possibubble2.svg" alt="">
    
</div>


<div class="py-16"><Newsletter></Newsletter></div>

</MainLayout>


<script src="https://unpkg.com/motion">
    	scroll(animate(".stickyparallax1", { y: [-300, 0] }), {
		target: document.querySelector(".stickyparallax1"),
	});

</script>