---
const { title, href } = Astro.props;
---
<div>
    <a 
        class="font-opensans font-black border border-2 border-[#FF0755] bg-[#FF0755] text-white py-2 px-4 
               hover:text-black hover:border-black hover:bg-white transition-colors duration-300" 
       {href}
    >
        {title}
    </a>
</div>
