---
// Button.astro
const { title } = Astro.props;
---
<div>
    <a class="border-solid py-3 px-6 text-white border-[#FF0755]" href="" style="background-color: #FF0755; border-radius: 25px;">{title}</a>
</div>
