---
---
<div class="grid grid-cols-3 gap-10 p-16">
<div>
    <p class="font-abel text-black font-semibold text-[20px] py-2 font-black border border-2 border-[#FF0755] bg-[#FF0755] text-white py-2 px-4 inline-block">plastic change</p>
    <p class="font-abel text-black text-[16px] py-2 cursor-pointer hover:underline">mail: info@plasticchange.org</p>
    <p class="font-abel text-black text-[16px] py-2 cursor-pointer hover:underline">tlf: +45 42 66 72 46</p>
    <div class="flex pt-8">
        <a href="https://www.instagram.com/plasticchange/?hl=en" target="_blank">
            <img class="w-[50px] h-auto transition duration-300 hover:grayscale hover:brightness-0" src="png/Instagram.png" alt="Instagram">
        </a>
        <a href="https://www.facebook.com/plasticchange/" target="_blank">
            <img class="w-[50px] h-auto transition duration-300 hover:grayscale hover:brightness-0" src="png/Facebook.png" alt="Facebook">
        </a>
    </div>
</div>

<div>
    <p class="font-abel text-black font-semibold text-[20px] py-2">Support our mission!</p>
    <p class="font-abel text-black text-[16px] py-2 cursor-pointer hover:underline">Donate here</p>
    <p class="font-abel text-black text-[16px] py-2 cursor-pointer hover:underline">Newsletter</p>
    <p class="font-abel text-black text-[16px] py-2 cursor-pointer hover:underline">Read more about plastic change</p>
</div>


<div>
    <label for="first-name" class="block text-left font-medium">First Name</label>
    <input type="text" id="first-name" class="w-full p-2 border border-gray-300 rounded mt-1 focus:border-[#FF0755] focus:ring-2 focus:ring-[#FF0755] mb-4" required>
    <label for="last-name" class="block text-left font-medium">Last Name</label>
    <input type="text" id="last-name" class="w-full p-2 border border-gray-300 rounded mt-1 focus:border-[#FF0755] focus:ring-2 focus:ring-[#FF0755] mb-4" required>
    <label for="email" class="block text-left font-medium">Email</label>
    <input type="email" id="email" class="w-full p-2 border border-gray-300 rounded mt-1 focus:border-[#FF0755] focus:ring-2 focus:ring-[#FF0755] mb-4" required>
</div>
</div>
  