---
import Button from "./Button.astro"
---
<div class="relative">
    <img class="animation1 scale-x-[-1] w-[250px] h-auto absolute top-10 right-20" src="png/decoration-trash.png" alt="bubble1">
    <img class="animation2 w-[250px] h-auto absolute top-20 left-20" src="png/decoration-bags.png" alt="bubble2">
</div>
<section class="px-80 py-16">
<div>
    <h2 class="font-abel text-[64px] pb-8">#SingleUseSucks</h2>
    <p class="font-abel text-[16px]"> Say NO to single-use plastics! #SingleUseSucks – and it’s time we do something about it. Join Plastic Change in the fight for a cleaner planet by following us on social media and signing up for our newsletter. Stay informed, take action, and be part of the movement towards a plastic-free future.
Every small step counts—together, we can make a difference!</p>
</div>
<div class="pt-16 flex items-center gap-4">
        <Button href="#form" title="KEEP UPDATED ON OUR NEWSLETTER"></Button>
        
        <!-- Social Media Icons -->
        <a href="https://www.instagram.com/plasticchange/?hl=en" target="_blank">
            <img class="w-[50px] h-auto transition duration-300 hover:grayscale hover:brightness-0" src="png/Instagram.png" alt="Instagram">
        </a>
        <a href="https://www.facebook.com/plasticchange/" target="_blank">
            <img class="w-[50px] h-auto transition duration-300 hover:grayscale hover:brightness-0" src="png/Facebook.png" alt="Facebook">
        </a>
    </div>
</section>

<script>
import { inView } from "motion";

const animation1 = document.querySelector(".animation1");
const animation2 = document.querySelector(".animation2");

inView(animation1, (element) => {
  // When the element comes into view, add the "slideInRight" animation
  element.classList.add(
    "animate__animated",
    "animate__fadeInUp",
    "animate__delay-0.4s"
  );


  // When the element leaves the view, we add a "fadeOut" animation
  return () => {
    element.classList.remove(
      "animate__fadeInUp", 
      "animate__delay-0.5s"
    );
    element.classList.add(
      "animate__animated",
      "animate__fadeInDown",
      "animate__delay-0.5s"
    );
  };
});

inView(animation2, (element) => {
  // When the element comes into view, add the "slideInRight" animation
  element.classList.add(
    "animate__animated",
    "animate__fadeInUp",
    "animate__delay-0.3s"
  );

  // When the element leaves the view, we add a "fadeOut" animation
  return () => {
    element.classList.remove(
      "animate__fadeInUp", 
      "animate__delay-0.5s"
    );
    element.classList.add(
      "animate__animated",
      "animate__fadeInDown",
      "animate__delay-0.5s"
    );
  };
});
</script>

