---
import Button from "./Button.astro"
---


<div class="relative">
    <img class="w-[250px] h-auto absolute top-15 right-10" src="png/decoration-trash.png" alt="bubble1">
    <img class="w-[250px] h-auto absolute top-20 left-10" src="png/decoration-bags.png" alt="bubble2">
</div>
<section class="px-80 py-16">
<div>
    <h2 class="font-abel text-[64px] pb-8">#SingleUseSucks</h2>
    <p class="font-abel text-[16px]"> Say NO to single-use plastics! #SingleUseSucks – and it’s time we do something about it. Join Plastic Change in the fight for a cleaner planet by following us on social media and signing up for our newsletter. Stay informed, take action, and be part of the movement towards a plastic-free future.
Every small step counts—together, we can make a difference!</p>
</div>
<div class="pt-16 flex items-center gap-4">
        <Button title="KEEP UPDATED ON OUR NEWSLETTER"></Button>
        
        <!-- Social Media Icons -->
        <a href="https://www.instagram.com/plasticchange/?hl=en" target="_blank">
            <img class="w-[50px] h-auto transition duration-300 hover:grayscale hover:brightness-0" src="png/Instagram.png" alt="Instagram">
        </a>
        <a href="https://www.facebook.com/plasticchange/" target="_blank">
            <img class="w-[50px] h-auto transition duration-300 hover:grayscale hover:brightness-0" src="png/Facebook.png" alt="Facebook">
        </a>
    </div>
</section>